@media (max-width: 1200px)
    .promo
        &-header
            font-size: 40px
    nav
        .menu
            &-item
                padding-right: 11px
    .logo
        &-call
            font-size: 11px
    .beganWork
        &-header
            font-size: 33px
        &-descr
            max-width: 330px
    .mobile
        &-item
            width: 300px
@media (max-width: 991px)
    .promo

        &-header
            font-size: 35px
    .promo
        .promo-descr
            font-size: 16px
        .promo-subheader
            font-size: 20px
    nav
        .menu
            &-link
                font-size: 10px
            &-item
                padding-right: 9px
    .logo
        &-btn
            width: 150px
            height: 40px
        &-call
            margin-top: 20px
        &-img
            width: 200px
        &-text
            font-size: 12px
    .logo-phoneNumber
        &-link
            font-size: 18px
            text-align: left
        
     
   
