// Varible
$RobotoLight: 300px
$RobotoRegular: 500px
$RobotoBold: 900px
$RobotoThin: 200px
$btnColor: #1eacc7
// Mixin

        
// Header
*
    box-sizing: border-box
    margin: 0
    padding: 0
body
    font-family: Roboto
.header
    position: relative
//Nav 
nav 
    height: 50px
    background-color: #212121;
    .menu
        padding: 18px 0 
        display: flex
        justify-content: space-around
        &-item
            list-style-type: none
            line-height: 13px
            border-right: 2px dotted black
            padding-right: 39px
            .menu-link
                color: #ffffff
                font-size: 15px
                font-weight: $RobotoLight
// Logo
.logo
    position: absolute
    width: 100%
    height: 84px
    background-color: rgba(0, 0, 0, .6)
    z-index: 1
    .logo-img
        margin-top: 16px
    &-text
        margin-top: 6px
        color: #ffffff;
        font-family: Roboto Thin
        font-size: 13px
        opacity: 0.5
        font-weight: $RobotoThin
    &-call            
        margin-top: 23px
        color: #ffffff
        font-size: 12px
        font-weight: $RobotoLight
    &-phoneNumber
        position: absolute
        left: 0
        margin-top: 8px
        font-weight: $RobotoBold
        line-height: 21px
        text-transform: uppercase
        .logo-link
            color: #ffffff
            font-size: 22px
    .logo-btn
        margin-top: 19px
        width: 172px
        height: 46px
        box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12)
        border: none
        border-radius: 3px
        background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%)
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
        color: #ffffff
        font-size: 14px
        font-weight: $RobotoRegular
        text-transform: uppercase
        cursor: pointer
        outline: none
//Promo
.promo
    min-height: 799px
    background: url("../img/promoBG.jpg") center center/cover no-repeat
    z-index: -1
    &-header
        margin-top: 151px
        color: #ffffff
        font-weight: $RobotoBold
        text-transform: uppercase
        font-size: 60px
        line-height: 24px
        text-align: center
    .promo
        &-subheader
            margin-top: 22px
            font-size: 36px
            font-weight: $RobotoLight
            line-height: 45px
            text-align: center
            color: #ffffff
    .promo
        &-descr
            margin-top: 23px
            color: #ffffff
            font-size: 18px
            font-weight: $RobotoRegular
            line-height: 24px
    .promo
        &-btn
            width: 259px
            height: 63px
            margin-top: 118px
            box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12)
            border: none
            border-radius: 3px
            background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%)
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21)
            color: #ffffff
            font-size: 18px
            font-weight: $RobotoRegular
            text-transform: uppercase
            cursor: pointer
            outline: none
// Began Work
.beganWork
    min-height: 900px
    &-advantage
        max-width: 112px;
        margin-top: 71px
        background-color: #000000
        color: #ffffff
        font-family: Roboto Thin
        font-size: 11px
        font-weight: $RobotoRegular
        text-transform: uppercase
        text-align: center
.beganWork
    &-header
        margin-top: 38px
        color: #222222;
        font-size: 38px;
        font-weight: $RobotoBold;
        text-transform: uppercase
.beganWork
    &-firstCouple
        margin-top: 40px
.beganWork
    &-wrapper
        display: flex
        justify-content: space-between
        align-items: flex-start
.beganWork
    &-item
        display: flex
        justify-content: center
        margin: 0 auto
.beganWork
    &-round
        display: flex
        justify-content: center
        align-items: center
        width: 113px
        height: 113px
        background-color: #1eacc7
        border-radius: 100%
.beganWork
    &-descr
        width: 341px





    





